

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rokkitt:wght@200&display=swap');


  header p{
    font-family: 'Roboto', sans-serif;
}

header img{
    height: 70px;
}
.offcanvas{
    max-width: 125px;
}
.offcanvas-body{
    background-color: #333331;
}

#home{
    background-image: url(../images/bg_header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#home h1{
    font-family: 'Rokkitt', serif;
}
#home h2{
    font-family: 'Rokkitt', serif;
}
#home p{
    font-family: 'Roboto', sans-serif;
}
.greenbouton{
    background-color:#36c4c5
}

svg{
    color: rgb(55, 68, 62);
}

.bgnuage{
    background-image: url(../images/bg_nuage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100dvw; 
 
}
h3,h4,.numbers{
    font-family: 'Rokkitt', serif;
}
.aboutsquare{
    border: white solid 1px;
}

.girlbicycle{
    width: 85%
}

.bgappphoto{
    background-image: url(../images/bg_appareil_photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}