

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rokkitt:wght@200&display=swap');


  body{
    font-family: 'Roboto', sans-serif;
}

header img{
    height: 70px;
}
.offcanvas{
    max-width: 125px;
}
.offcanvas-body{
    background-color: #333331;
}


h1,h2,h3,h4,.numbers{
    font-family: 'Rokkitt', serif;
}
#home{
    background-image: url(../images/bg_header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


#home p{
    font-family: 'Roboto', sans-serif;
}
.greenbouton{
    background-color:#36c4c5
}

svg{
    color: rgb(55, 68, 62);
}

.bgnuage{
    background-image: url(../images/bg_nuage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
 
.aboutsquare{
    border: white solid 1px;
}

.girlbicycle{
    width: 95%;
    height: auto;
}

.bgappphoto{
    background-image: url(../images/bg_appareil_photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgcontact{
    background-image: url(../images/bg_newsletter.jpg) ;
    backdrop-filter: blur(5px);
    background-size:inherit
}

#contact>div{
    background-color: rgba(55, 68, 62, 0.495)
}


footer{
    background-color: #24323b;
}
footer span{
    color: #2dafb1;
}